@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 65px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background  : #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0,0,0.06);
    z-index: 999;
    position: sticky;/*fixed header*/
    left : 0;
    top :0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content:center;

 
}
#mobile{
    display: none;
    align-items: center;

}
#navbar li{
    padding: 0px 20px;
    list-style: none;
    position: relative;
}
#navbar li a{
    text-decoration: none ;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
    /* border-bottom: 3px solid transparent; */
    
    
}
#navbar li a:hover,
#navbar li a.active
{
    color: #000000;
 
}
#navbar li a.active::before,
#navbar li a:hover::before{
    content: "";
    width:30%;
    height:0%;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#rolex{
    background-image:url('../img/R.jpg') ;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.Product1{
    text-align: center;
}
.Product1 .pro_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}
.Product1 .pro{
    width:23%;
    padding: 10px 12px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0,0,0.02);
    min-width: 250px;
    border-radius: 25px;
    border: 1px solid #cce7d0;
    margin:15px 0;
    position: relative;
    transition: 0.2 s ease;
}
.Product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0,0,0.2);
}/*Animation shadow*/
.Product1 .pro img{
    width:100%;
    border-radius: 20px;
    
}
.Product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}
.Product1 .pro .des span{
    color:#606063;
    font-size: 12px;;
}
.Product1 .pro .des h5{
    padding-top: 7px;
    color:#1a1a1a;
    font-size: 14px;
}
.Product1 .pro .des i{
    font-size: 12px;
    color:rgb(243,181,25);
}
.Product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
.Product1 .pro .cart2{
    width: 40px;
    height:40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #ececec;
    color: #000000;
    border-color: 1px solid #fbecec;
    position: absolute;
    bottom: 20px;
    right: 10px;
} 

.norm{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    text-align: center;
}



#newsletter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    background-image: url('../img/b14.png');
    background-repeat: repeat-x;
}
#newsletter button{
    background-color: #ffffff;
    color: #000000;
    white-space: nowrap;
    text-align: center;
}
#newsletter .form{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}
footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:  20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    text-decoration: none;
    font-size: 13px;
    color:#222;
    margin:10px;
}
footer .follow{
    margin-top: 20px;

}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    width: 25px;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0 ;
}
footer .follow i:hover,
footer a:hover{
    color:#30d0c2;

}
footer .copyright{
    width: 100%;
    text-align: center;
}
#pro-details .single-pro-image{
    margin-right: 50px;
    width: 40%;
}
#pro-details{
display: flex;
margin-top: 20px;
}
#pro-details .single-pro-details
{
    width: 50%;
    padding-top: 30px;
}
#pro-details .single-pro-details h4{
    font-weight: bold;
    padding: 40px 0 20px 0 ;
}
#pro-details .single-pro-details input{
    width:50px;
    font-size: 16px;
    height: 47px;
    margin-right: 10px;
    padding-left: 10px;
}
#pro-details .single-pro-details button{
    background-color: #000000;
    color: #fff;
}
#b1{
    padding: 150px 150px 0 150px;
}
#b1 .b1-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#b1 .b1-img{
    width: 50%;
    margin-right: 40px;
}
#b1 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#b1 .b1-details{
    width: 50%;
}
#b1 .b1-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
}
#b1 .b1-details a::after{
    content: "";
    position: absolute;
    background-color: #000;
    width: 50px;
    height: 2px;
    top: 4px;
    right: -60px;
}
#b1 .b1-details a:hover{
    color: #088178;
}
#b1 .b1-details a:hover::after{
    background-color: #088178;
}
#b1 .b1-box h1{
    left:0;
    top:-40px;
    font-size: 70px;
    font-weight: 700;
    color:#c9cbce;
    position: absolute;
    z-index: -9;
}

#about-head{
    align-items: center;
    display: flex;
}
#about-head img{
    width:50%;
    height: auto;
}
#about-head div{
    padding-left: 40px;
}
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width:40%;
}
#contact-details .details span,

#contact-details .details h2,

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;

}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;

}
#contact-details .details li i{
   font-size: 14px;
   padding-right: 24px;

}
#contact-details .details li p{
    margin:0;
    font-size: 14px;
 
 }
#contact-details .banner{
width:30%;
height:400px;    
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 40px;
    border: 1px solid #e1e1e1;
}
#form-details form{
    width:65%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;

}
#form-details form input,
#form-details form textarea{
    width:100%;
    padding:12px  15px;
outline: none;
margin-bottom: 26px;
border: 1px solid #e1e1e1;
}
#form-details form button{
    background-color: #000000;
    color: #fff;
}
#form-details .people div {
    padding-top: 40px ;
    padding-left: 15px;
    padding-bottom:34px;
    display: flex;
    align-items: flex-start;
}
#form-details .people img{
    width:65px;
height: 65px;
object-fit: cover;
margin-right: 15px;
}
#form-details .people div p{
    margin: 0;
    font-size: 16px;
    line-height: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}


